.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.red{
    /* background-color: red; */
}

.border{
    /* border: 2px solid red; */
}

.popout{
    position: relative;
    z-index: 1;
}

.heading1{
    font-size: 40px;
}

.p{
    font-size: 20px;
}

.seperation-line{
    background-color: #232323;
    height: 10px;
    width: 100%;
}